<div class="form-inline">
    <a class="btn btn-xs btn-primary" href="{:U('Device/add')}">新增</a>
</div>
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>编号</th>
            <th>类型</th>
            <th>操作</th>
        </tr>
    </thead>
    <volist name="list" id="vo">
        <tr>
            <td>{$vo.device_id}</td>
            <td>{$vo.device_number}</td>
            <td>{$vo.device_type}</td>
            <td>
                <a class="btn btn-info btn-xs" href={:U('Device/add',array('id'=>$vo['device_id']))} >编辑</a>
                <a class="btn btn-danger btn-xs" href={:U('Device/delete',array('id'=>$vo['device_id']))} >删除</a>
            </td>
        </tr>
    </volist>
</table>