{__NOLAYOUT__}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="baidu-site-verification" content="llIVAHy02F">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title></title>
    <link href="__PUBLIC__/Static/Mobile/mtui/mtui.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/Static/Mobile/mobilestyle.css" type="text/css" rel="stylesheet">
</head>
<!--#1ABC9C-->
<style>
    .pading-left-20{
        padding-left: 20px;
    }
</style>
<body>
<div class="container" style="max-width: 750px; margin-left: auto;margin-right: auto;">
    <div class="row h-content">
        <div class="ui-cell">
            <div class="ui-cell-center ui-color-primary">
                <span><strong>毕业设计</strong></span>
            </div>
        </div>
        <div class="ui-cell">
            <div class="ui-cell-lt">
                <span><i class="ui-icon icon-kongqiwendu"></i>温度:</span>
            </div>
            <div class="ui-cell-primary pading-left-20">29℃</div>
        </div>
        <div class="ui-cell">
            <div class="ui-cell-lt">
                <span><i class="ui-icon icon-kongqishidu"></i>湿度:</span>
            </div>
            <div class="ui-cell-primary pading-left-20" >60%</div>
        </div>
        <div class="ui-cell">
            <div class="ui-cell-lt">
                <span><i class="ui-icon icon-PM25"></i>PM2.5:</span>
            </div>
            <div class="ui-cell-primary pading-left-20">16</div>
        </div>
        <div class="ui-cell">
            <div class="ui-cell-lt">
                <span><i class="ui-icon icon-guangzhaoqiangdu"></i>光照强度:</span>
            </div>
            <div class="ui-cell-primary pading-left-20">180Lx</div>
        </div>
    </div>
</div>

</body>
</html>