
<div class="form-inline">
    <label><span>用户名称:</span>{$user.user_name}</label>
    <label style="margin-left: 15px;"><span>手机号码:</span>{$user.phone}</label>
</div>
<if condition="$device !=null ">
    <table class="table table-responsive table-bordered">
        <thead>
        <tr>
            <th>设备ID</th>
            <th>设备名称</th>
            <th>设备类型</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>


    </table>
    <volist name="device" id="vo">
        <tr>
            <td>{$vo.user_device_id}</td>
            <td>{$vo.device_name}</td>
            <td>{$vo.device_type}</td>
            <td>在线</td>
            <td><a >查看</a></td>

        </tr>
    </volist>
    <else />
    该用户没有设备
</if>
